@page
@model EC_Website.Web.Pages.Wiki.Category.CategoriesListModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Wiki Categories"];
}


<h1>@ViewData["Title"]</h1>
<p><a asp-page="./Create">@Localizer["Create New"]</a></p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categories[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categories[0].Timestamp)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Categories)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
            </td>
        </tr>
    }
    </tbody>
</table>
