@page "{articleId}"
@model EC_WebSite.Pages.Article.ArticleIndexModel
@{
    ViewData["Title"] = Model.Article.Topic;
}


<div class="card shadow-sm mb-2">
    <div class="card-header">
        <b>@Model.Article.Topic</b>
        <b class="float-right">@Model.Article.CreatedTime.Value.ToString("MMM dd yyyy HH:mm")</b>
    </div>
    <div class="card-body mb-2">
        @Html.Raw(Model.Article.Text)
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-header">
        <b>@Model.Article.Comments.Count Comments</b>
    </div>
    <div class="card-body">
        @foreach (var comment in Model.Article.Comments)
        {
        <div class="container">
            <div class="row">
                <div>
                    <img class="rounded shadow" style="width: 50px; height: 50px" src="@comment.Author.ProfilePhoto.GetDataBase64()" alt="author photo" />
                </div>
                <div class="flex-fill ml-2">
                    <a asp-page="/User/Index" asp-route-username="@comment.Author.UserName"><b><i>@comment.Author.UserName</i></b></a>

                    @if (User.Identity.Name == comment.Author.UserName || User.HasOneOfTheseRoles(Role.Moderator))
                    {
                        <form asp-page-handler="DeleteComment" asp-route-commentId="@comment.Id" class="float-right mx-1" method="post">
                            <button class="delete-item btn-nobackground"><i class="fa fa-times"></i></button>
                        </form>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        <button id="@comment.Id" class="float-right btn-nobackground text-primary" onclick="showReplyCommentBox('@comment.Id')"><i class="fas fa-reply"></i></button>
                    }

                    <p><i class="fas fa-clock"></i> @comment.CreatedDate.Value.ToString()</p>

                    <div id="@comment.Id" class="row ml-1">
                        @Html.Raw(comment.Text)

                        <!--Comment replies-->
                        @foreach (var reply in comment.Replies)
                        {
                            <div class="row w-100">
                                <div>
                                    <img class="rounded shadow" style="width: 50px; height: 50px" src="@comment.Author.ProfilePhoto.GetDataBase64()" alt="author photo" />
                                </div>
                                <div class="flex-fill ml-2">
                                    <a asp-page="/User/Index" asp-route-username="@reply.Author.UserName"><b><i>@reply.Author.UserName</i></b></a>

                                    @if (User.Identity.Name == reply.Author.UserName || User.HasOneOfTheseRoles(Role.Moderator))
                                    {
                                        <form asp-page-handler="DeleteCommentReply" asp-route-commentReplyId="@reply.Id" class="float-right mx-1" method="post">
                                            <button class="delete-item btn-nobackground"><i class="fa fa-times"></i></button>
                                        </form>
                                    }

                                    @*<button id="@reply.Id" class="float-right btn-nobackground text-primary" onclick="showReplyCommentBox('@reply.Id')"><i class="fas fa-reply"></i></button>*@
                                    <p><i class="fas fa-clock"></i> @reply.CreatedDate.Value.ToString()</p>

                                    <div id="@reply.Id" class="row ml-1">
                                        @Html.Raw(reply.Text)
                                    </div>
                                </div>
                                <hr class="w-100" />
                            </div>
                        }
                    </div>

                    <div id="@comment.Id" class="reply-commentbox row ml-1 d-none">
                        <form asp-page-handler="ReplyToComment" asp-route-commentId="@comment.Id" class="w-100" method="post">
                            <div class="bg-white border border-dark p-2">
                                <textarea asp-for="@Model.CommentText" class="texteditor-air"></textarea>
                            </div>
                            <div class="mt-2">
                                <input type="submit" class="btn btn-sm btn-info shadow-sm" value="Reply" onclick="hideReplyCommentBox('@comment.Id')" />
                                <input type="button" class="btn btn-sm shadow-sm" value="Cancel" onclick="hideReplyCommentBox('@comment.Id')" />
                            </div>
                        </form>
                    </div>

                </div>
                <hr class="w-100" />
            </div>                                 
        </div>
        }
    </div>
</div>


@if (User.Identity.IsAuthenticated)
{
    <div class="card card-header shadow-sm my-2 p-2">
        <label><b>Post a comment</b></label>
        <form asp-page-handler="AddComment" method="post">
            <div class="bg-white p-2">
                <textarea asp-for="@Model.CommentText" class="texteditor-air"></textarea>
            </div>
            <input type="submit" class="btn btn-sm btn-info shadow-sm mt-2" value="Save comment" />
        </form>
    </div>
}

@section Scripts  {
<script>
    function showReplyCommentBox(commentId = '') {
        $(`button#${commentId}`).hide();
        $(`div#${commentId}.reply-commentbox`).removeClass('d-none');
    }
    function hideReplyCommentBox(commentId = '') {
        $(`button#${commentId}`).show();
        $(`div#${commentId}.reply-commentbox`).addClass('d-none');
    }
</script>
}