@page
@model EC_Website.Web.Pages.Forums.Thread.CreateModel
@inject IAuthorizationService Authorization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Create Thread"];
}

@section Head {
    <partial name="_SyncfusionScriptsPartial" />
}

<h1>@ViewData["Title"]</h1>

<h4>@Localizer["Start new thread in"]: <span class="text-info">@Model.Thread.Board.Title</span> </h4>
<hr />
<div class="row">
    <div class="col-12 col-md-8">
        <form method="post" asp-route-boardId="@Model.Thread.Board.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Thread.Title" class="control-label"></label><span class="font-weight-bold text-danger">*</span>
                <input asp-for="Thread.Title" class="form-control" />
            </div>
            
            @if ((await Authorization.AuthorizeAsync(User, Policies.CanManageForums)).Succeeded)
            {
                <div class="form-group">
                    <label asp-for="Thread.IsLocked" class="form-check-label"></label>
                    <input asp-for="Thread.IsLocked" class="form-check-inline" />
                </div>
                <div class="form-group">
                    <label asp-for="Thread.IsPinned" class="form-check-label"></label>
                    <input asp-for="Thread.IsPinned" class="form-check-inline" />
                </div>
            }
            
            <div class="form-group">
                <label class="control-label" asp-for="Post.Content"></label><span class="font-weight-bold text-danger">*</span>
                <span asp-validation-for="Post.Content" class="text-danger"></span>
                <ejs-richtexteditor id="rich_texteditor" ejs-for="Post.Content" height="300">
                    <e-richtexteditor-toolbarsettings items="@ViewData["toolbar"]" enableFloating="true">
                    </e-richtexteditor-toolbarsettings>
                </ejs-richtexteditor>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Create"]" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Board/Index" asp-route-slug="@Model.Thread.Board.Slug">@Localizer["Back to List"]</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}