@page
@model EC_Website.Web.Pages.Forums.Thread.EditPostModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Edit Post"];
}

@section Head {
    <partial name="_SyncfusionScriptsPartial" />
}

<h1>@Localizer["Edit"]</h1>

<h4>@Localizer["Post"]</h4>
<hr />
<div class="row">
    <div class="col-12 col-md-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Post.Id" />
            <input type="hidden" asp-for="Post.Thread.Slug" />
            <input type="hidden" asp-for="Post.Thread.Title"/>
            <div class="form-group">
                <label asp-for="Post.Content" class="control-label"></label>
                <span asp-validation-for="Post.Content" class="text-danger"></span>
                <ejs-richtexteditor id="rich_texteditor" ejs-for="Post.Content" height="300">
                    <e-richtexteditor-toolbarsettings items="@ViewData["toolbar"]" enableFloating="true">
                    </e-richtexteditor-toolbarsettings>
                </ejs-richtexteditor>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-slug="@Model.Post.Thread.Slug">@Localizer["Back to Thread"]</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}