@page
@model EC_Website.Web.Pages.Forums.Thread.EditModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Edit Thread"];
}

<h1>@ViewData["Title"]</h1>

<h4>@ViewData["Title"] "@Model.Thread.Title" @Localizer["in"]: <span class="text-info">@Model.Thread.Board.Title</span> </h4>
<hr />
<div class="row">
    <div class="col-12 col-md-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Thread.Id"/>
            <div class="form-group">
                <label asp-for="Thread.Title" class="control-label"></label>
                <input asp-for="Thread.Title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Thread.IsLocked" class="form-check-label"></label>
                <input asp-for="Thread.IsLocked" class="form-check-inline" />
            </div>
            <div class="form-group">
                <label asp-for="Thread.IsPinned" class="form-check-label"></label>
                <input asp-for="Thread.IsPinned" class="form-check-inline" />
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-slug="@Model.Thread.Slug">@Localizer["Back to Thread"]</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}