@page "{slug}"
@model EC_Website.Web.Pages.Forums.Thread.IndexModel
@inject IViewLocalizer Localizer
@inject IAuthorizationService AuthorizationService
@inject RealTimeDataContext RealTimeContext

@{
    ViewData["Title"] = Model.Thread.Title;
}

@section Head {
    <partial name="_SyncfusionScriptsPartial" />
    <link href="~/css/forum-theme.css" rel="stylesheet" />
}

<div class="forum">
    <div class="forum-header">
        <div class="row">
            <div class="col-10">
                <h1>@Model.Thread.Title</h1>
            </div>
            <div class="col-2">
                @if (User.Identity.IsAuthenticated)
                {
                    <span class="float-right mt-2">
                        <a asp-page="./Edit" asp-route-id="@Model.Thread.Id" class="text-light" data-toggle="tooltip" data-placement="top" title="Edit thread"><i class="fas fa-wrench fa-lg"></i></a>
                        <a asp-page="./Delete" asp-route-id="@Model.Thread.Id" class="text-light" data-toggle="tooltip" data-placement="top" title="Delete thread"><i class="fas fa-times fa-lg"></i></a>
                    </span>
                }
            </div>
        </div>

        <ul class="breadcrumb text-primary mt-1 mb-0">
            <li class="breadcrumb-item"><a asp-page="../Index">@Model.Thread.Board.Forum.Title</a></li>
            <li class="breadcrumb-item"><a asp-page="../Board/Index" asp-route-slug="@Model.Thread.Board.Slug">@Model.Thread.Board.Title</a></li>
            <li class="breadcrumb-item"><a asp-page="../Thread/Index" asp-route-slug="@Model.Thread.Slug">@Model.Thread.Title</a></li>
        </ul>
    </div>

    <div class="forum-body">
        <div class="forum-search-panel">
            <vc:search-box />
        </div>
        <div class="table-responsive">
            <table id="tableforum" class="table table-bordered">
                <thead class="forum-table-head">
                    <tr>
                        <th width="150">
                            <strong>@Localizer["Author"]</strong>
                        </th>
                        <th>
                            <strong>@Localizer["Posts"]</strong>
                        </th>
                    </tr>
                    <tr class="forum-category">
                        <th>
                            <strong>@Model.Thread.Title</strong>
                        </th>
                        <th style="background-color: teal; text-align: center">
                            @if (Model.Thread.IsLocked)
                            {
                                <strong>Locked</strong>
                            }
                            else
                            {
                                <a style="color: azure" href="#post_reply"><strong>@Localizer["Post Reply"]</strong></a>
                            }
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var post in Model.Posts.OrderBy(i => i.Timestamp))
                    {
                        <tr>
                            <td></td>
                            <td style="background-color: antiquewhite">
                                <a role="button" class="btn btn-sm" href="#post_reply" onclick="quoteToPost('@post.Id', '@post.Author.UserName')"><b>@Localizer["Quote"]</b></a>
                                <span class="float-right">
                                    <span class="mr-1">@post.Timestamp.ToString("MMM dd yyyy HH:mm")</span>
                                    @if (User.Identity.Name == post.Author.UserName)
                                    {

                                        <a asp-page="./EditPost" asp-route-postId="@post.Id" data-toggle="tooltip" data-placement="top" title="Edit post"><i class="fas fa-wrench"></i></a>
                                        <a asp-page="./DeletePost" asp-route-postId="@post.Id" type="submit" class="btn btn-sm" data-toggle="tooltip" data-placement="top" title="Delete post"><i class="fas fa-minus-circle"></i></a>
                                    }
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @{
                                    <div class="img-container" style="cursor: pointer">
                                        @{
                                            var userOnline = RealTimeContext.OnlineUsers.Contains(post.Author.UserName);
                                            var statusColor = userOnline ? "bg-success" : "bg-secondary";
                                        }
                                        <div class="status-icon-forum @statusColor"></div>
                                        <img class="rounded" src="@post.Author.ProfilePhotoPath" alt="@post.Author.UserName photo" style="height: 70px; width: 70px" onclick="window.location = '/User/@post.Author.UserName'" />
                                    </div>
                                    <a asp-page="/User/Index" asp-route-username="@post.Author.UserName">@post.Author.UserName</a><br />
                                    <vc:user-roles user="@post.Author" />
                                    <vc:user-badges user="@post.Author" />
                                }
                            </td>
                            <td id="@post.Id" class="forum-post">
                                @Html.Raw(post.Content)
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <div id="pagination" class="d-flex">
                                <pagination class="mx-auto" page-index="@Model.Posts.PageIndex" total-pages="@Model.Posts.TotalPages"
                                            page-path="/Forums/Thread/@Model.Thread.Slug" />
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div id="post_reply" class="container-fluid mt-3" style="background-color: black; border-radius: 10px;">
    @if (User.Identity.IsAuthenticated && !Model.Thread.IsLocked)
    {
        <form method="post" asp-page-handler="AddPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label class="font-weight-bold" style="color: aliceblue">@Localizer["Reply to thread"]</label>
            <span asp-validation-for="PostContent" class="text-danger"></span>
            <ejs-richtexteditor id="rich_texteditor" ejs-for="PostContent" height="300">
                <e-richtexteditor-toolbarsettings items="@ViewData["toolbar"]" enableFloating="true">
                </e-richtexteditor-toolbarsettings>
            </ejs-richtexteditor>
            <input type="submit" class="btn btn-light my-2" value="@Localizer["Post Reply"]" />
        </form>
    }
</div>

@section Scripts {
    <script>
        function quoteToPost(postId = '', postAuthorName = '') {
            const postNode = document.createElement('blockquote');
            postNode.className = 'blockquote p-1';
            postNode.style = 'border-left: 5px solid #f86466';
            postNode.innerHTML = document.getElementById(`${postId}`).innerHTML;

            const blockquoteFooter = document.createElement('footer');
            blockquoteFooter.className = 'blockquote-footer';
            blockquoteFooter.innerText = postAuthorName;
            blockquoteFooter.style = 'font-size: 50%';
            postNode.append(blockquoteFooter);

            document.getElementById('rich_texteditor_rte-edit-view').append(postNode);
        }
    </script>
}