@model BoardViewModel

@{
    ViewData["Title"] = Model.Board.Name;
}

<head>
    <link href="~/css/forum-theme.css" rel="stylesheet" />
</head>

<div class="forum_sketch">
    <div class="row">
        <div class="col-sm-11">
            <h3 class="h3">Forum Board</h3>
            <span>
                <a asp-action="Index">@Model.Board.Forum.Name ></a>                
                <a asp-action="Board" asp-route-boardId="@Model.Board.Id">@Model.Board.Name</a>
            </span>
        </div>
        <div class="col-sm-1" style="text-align:right; margin-top: 25px">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="glyphicon glyphicon-plus-sign" asp-action="CreateThread" asp-route-boardId="@Model.Board.Id"></a>
                <a class="glyphicon glyphicon-wrench"></a>
            }
        </div>
    </div>

    <div class="forum_body">
        <div class="row forum_search_panel">
            <div class="col-sm-4">
                @Html.TextBox("Search", Model.SearchText, "", new { placeholder = "Search", style = "color: black" })
                <button class="btn" style="margin:10px; color:black" asp-action="SearchForum">Search</button>
            </div>
        </div>
        <table id="tableforum" class="table table-bordered">
            <thead class="table_thread">
                <tr>
                    <th>
                        <strong>Thread</strong>
                    </th>
                    <th>
                        <strong>Author</strong>
                    </th>
                    <th>
                        <strong>Posts</strong>
                    </th>
                    <th>
                        <strong>Last Post</strong>
                    </th>  
                    <th style="text-align: center">
                        <strong>+ Fav</strong>
                    </th>
                </tr>
                <tr class="forum_category">
                    <th colspan="3">
                        <strong>@Model.Board.Name</strong>
                    </th>
                    <th colspan="2" style="background-color: teal; text-align:center">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <span>
                                <a style="color: azure" asp-action="CreateThread" asp-route-boardId="@Model.Board.Id"><strong>New thread</strong></a>
                            </span>                       
                        }
                    </th>
                </tr>
            </thead>
            <tbody>               
                @foreach (var thread in Model.Threads)
                {
                    <tr class="forum_subcategory" style="color: black">
                        <td>
                            <span style="float: left">
                                <a style="color: saddlebrown" asp-action="Thread" asp-route-threadId="@thread.Id">@thread.Name</a>
                            </span>
                            @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("Moderator"))
                            {
                                <span style="float: right">
                                    <a href="#" class="glyphicon glyphicon-ok"></a>
                                    <a href="#" class="glyphicon glyphicon-remove"></a>
                                </span>
                            }
                        </td>
                        <td>
                            <a href="#">@thread.Author.UserName</a>
                        </td>
                        <td>
                            <label>@thread.Posts.Count()</label>
                        </td>
                        <td>
                            <a href="#">@thread.Posts.Select(i => i.Author.UserName).LastOrDefault()</a>
                            <p>@thread.Posts.Select(i => i.CreatedTime.Value.ToShortDateString()).LastOrDefault()</p>
                        </td>
                        <td style="text-align: center">
                            <form asp-action="AddFavoriteThread" method="post">
                                @Html.AntiForgeryToken()
                                @{ 
                                    Model.SelectedThreadId = thread.Id;
                                }
                                @Html.HiddenFor(m => m.SelectedThreadId)
                                @Html.HiddenFor(m => m.Board.Id)
                                <input type="submit" class="img-circle" name="addFavorite" value="+" />
                            </form>                            
                        </td>
                    </tr>
                }
            </tbody>                          
        </table>
    </div>
</div>
