@model IndexViewModel
@{
    ViewData["Title"] = "Forums";    
}
<head>
    <link href="~/css/forum-theme.css" rel="stylesheet" />
</head>


<div class="forum_sketch">
    <div class="row">
        <div class="col-sm-11">
            <h3 class="h3">Official Forums</h3>
        </div>
        <div class="col-sm-1" style="text-align:right; margin-top: 25px">
            @if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin"))
            {
                <a class="glyphicon glyphicon-plus-sign" asp-action="CreateForum"></a>
                <a class="glyphicon glyphicon-wrench"></a>
            }
        </div>
    </div>
    
    <div class="forum_body">
        <div class="row forum_search_panel">
            <div class="col-sm-4">
                @Html.TextBox("Search", Model.SearchText, "", new { placeholder = "Search", style = "color: black" })
                <button class="btn" style="margin:10px; color:black" asp-area="" asp-controller="Forums" asp-action="SearchForum">
                    Search
                </button>
            </div>
        </div>
        <table id="tableforum" class="table table-bordered">
            <thead class="table_thread">
                <tr>
                    <th>
                        <strong>Board</strong>
                    </th>
                    <th>
                        <strong>Lattest Thread</strong>
                    </th>
                    <th>
                        <strong>Topics</strong>
                    </th>
                    <th>
                        <strong>Posts</strong>
                    </th>
                    <th>
                        <strong>+Fav</strong>
                    </th>
                </tr>
            </thead>
            @foreach (var forumHead in Model.ForumHeads)
            {
            <tbody>
                <tr class="forum_category">
                    <td colspan="6">
                        <div class="row">
                            <div class="col-sm-4">
                                <strong>@forumHead.Name</strong>
                            </div>
                            <div class="col-sm-8" style="text-align:right">
                                @if (User.Identity.IsAuthenticated && (User.IsInRole("SuperAdmin") || User.IsInRole("Admin")))
                                {                                   
                                <form asp-action="DeleteForumHead" method="post">
                                    <a style="color: black" class="glyphicon glyphicon-plus-sign" asp-route-forumHeadId="@forumHead.Id" asp-action="CreateBoard"></a>
                                    @Html.AntiForgeryToken()
                                    @{
                                        Model.SelectedForumHeadId = forumHead.Id;
                                    }
                                    @Html.HiddenFor(m => m.SelectedForumHeadId)
                                    <button class="btn-nobackground delete_forumhead glyphicon glyphicon-minus-sign" />
                                </form>
                                }
                            </div>
                        </div>
                    </td>
                </tr>

                @foreach (var board in forumHead.Boards)
                {
                    <tr class="forum_subcategory" style="color: black">
                        <td>
                            <a style="color: saddlebrown" asp-action="Board" asp-route-boardId="@board.Id">@board.Name</a>
                        </td>
                        <td>
                            @if (board.Threads != null && board.Threads.Count != 0)
                            {
                                <a asp-action="Thread" asp-route-threadId="@board.Threads.LastOrDefault().Id">@board.Threads.Select(i => i.Name).LastOrDefault()</a>
                            }
                        </td>
                        <td>
                            <label>@board.Threads.Count()</label>
                        </td>
                        <td>
                            <label>@board.Threads.Select(i => i.Posts.Count).Sum()</label>
                        </td>
                        <td>                          
                            <form asp-action="DeleteBoard" method="post">
                                @Html.AntiForgeryToken()
                                <span style="float: right">
                                    <input type="button" class="img-circle" name="addFavority" value="+" />
                                    @{
                                        Model.SelectedBoardId = board.Id;
                                    }
                                    @Html.HiddenFor(m => m.SelectedBoardId)
                                    <button class="btn-nobackground delete_board glyphicon glyphicon-minus-sign" />                                    
                                </span>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
            }
        </table>
        
    </div>
</div>    


