@page
@model EC_Website.Web.Pages.Forums.IndexModel
@{
    ViewData["Title"] = "Forums Page";
}

@section Head {
    <link href="~/css/forum-theme.css" rel="stylesheet" />
}

<div class="forum">
    <div class="forum-header">
        <h3>
            Official Forums
            @if (User.IsInRole("SuperAdmin"))
            {
                <span class="float-right">
                    <a asp-page="./Create" class="text-light" data-toggle="tooltip" data-placement="top" title="Add new forum"><i class="fas fa-plus-circle"></i></a>
                </span>
            }
        </h3>
    </div>

    <div class="forum-body">
        <div class="forum-search-panel">
            <input asp-for="@Model.SearchText" class="ml-1" type="search" placeholder="Search" />
            <button class="btn btn-sm btn-light m-2">Search</button>
        </div>
        <div class="table-responsive">
            <table id="tableforum" class="table table-bordered">
                <thead class="forum-table-head">
                    <tr>
                        <th>
                            <strong>Board</strong>
                        </th>
                        <th>
                            <strong>Latest Thread</strong>
                        </th>
                        <th>
                            <strong>Topics</strong>
                        </th>
                        <th>
                            <strong>Posts</strong>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <tr class="forum-category">
                            <td colspan="4">
                                <strong>Your Favorite Threads</strong>
                            </td>
                        </tr>

                        @if (!Model.FavoriteThreads.Any())
                        {
                            <tr style="color: black">
                                <td colspan="4">
                                    <span style="color:dimgray; font-size: small">You have set no favorite threads. Add favorites from any forum on the site by clicking the(+) button in the FAV column.</span>
                                </td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var favoriteThread in Model.FavoriteThreads)
                            {
                                <tr style="color: black">
                                    <td colspan="3">
                                        <a asp-page="./Thread/Index" asp-route-slug="@favoriteThread.Slug">@favoriteThread.Board.Title &gt; @favoriteThread.Title</a>
                                    </td>
                                    <td>
                                        <form asp-page-handler="RemoveFromFavoriteThreads" asp-route-threadId="@favoriteThread.Id" method="post">
                                            <label>@favoriteThread.Posts.Count</label>
                                            <span class="float-right">
                                                <button class="btn btn-sm" data-toggle="tooltip" data-placement="top" title="Remove from favorites list"><i class="fas fa-minus-circle"></i></button>
                                            </span>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    }

                    @foreach (var forumHead in Model.ForumHeads)
                    {
                        <tr class="forum-category">
                            <td colspan="4">
                                <div class="row">
                                    <div class="col-8 col-sm-7">
                                        <strong>@forumHead.Title</strong>
                                    </div>
                                    <div class="col-4 col-sm-5" style="text-align:right">
                                        @if (User.HasMinimumRole(Role.Admin))
                                        {
                                            <a asp-page="./Board/Create" asp-route-forumId="@forumHead.Id" class="text-light" data-toggle="tooltip" data-placement="top" title="Add new board"><i class="fas fa-plus-circle"></i></a>
                                            <a asp-page="./Edit" asp-route-id="@forumHead.Id" class="text-light" data-toggle="tooltip" data-placement="top" title="Edit forum"><i class="fas fa-wrench"></i></a>
                                            <a asp-page="./Delete" asp-route-id="@forumHead.Id" class="text-light" data-toggle="tooltip" data-placement="top" title="Delete forum"><i class="fas fa-times"></i></a>
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr>

                        @foreach (var board in forumHead.Boards)
                        {
                            <tr style="color: black">
                                <td>
                                    <a asp-page="./Board/Index" asp-route-slug="@board.Slug" style="color: saddlebrown">@board.Title</a>
                                </td>
                                <td>
                                    @if (board.Threads.Count > 0)
                                    {
                                        <a asp-page="./Thread/Index" asp-route-slug="@board.Threads.Last().Slug">@board.Threads.Select(i => i.Title).Last()</a>
                                    }
                                </td>
                                <td>
                                    <label>@board.Threads.Count()</label>
                                </td>
                                <td>
                                    <label>@board.Threads.Select(i => i.Posts.Count).Sum()</label>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

