@page
@model EC_WebSite.Pages.Home.HomeIndexModel
@{
    ViewData["Title"] = "Hearts of Iron IV: Economic Crisis";
}

<div class="row">
    <div class="col-12 col-sm-9">
        <div>
            <hr class="dropdown-divider" />
            <span class="h3">Development News</span>
            @if (User.InOneOfTheseRoles(Role.Editor))
            {
                <span class="mx-2"><a asp-page="/Article/Create" class="btn-sm btn-info">Create Article</a></span>
            }
            <hr class="dropdown-divider" />
        </div>
        <div>
            @foreach (var article in Model.Articles.Take(10))
            {
                <div class="card shadow-sm my-3">
                    <div class="card-header">
                        <b>@article.Topic</b>
                        <b class="float-right">@article.CreatedTime.Value.ToString("MMM dd yyyy HH:mm")</b>
                        @if (User.InOneOfTheseRoles(Role.Editor))
                        {
                            <form class="float-right mx-1" method="post" asp-page="/Article/Index" asp-page-handler="DeleteArticle" asp-route-articleId="@article.Id">
                                <button class="delete-item btn-nobackground"><i class="fas fa-minus-circle"></i></button>
                            </form>
                            <a class="float-right" style="color: black" asp-page="/Article/Edit" asp-route-articleId="@article.Id"><i class="fas fa-wrench"></i></a>
                        }
                    </div>
                    <div class="card-body">
                        <p>@article.Summary</p>
                        @if (article.CoverPhoto != null)
                        {
                            <img class="w-100" src="@article.CoverPhoto.GetDataBase64()" alt="article cover photo" />
                        }
                        <button class="btn mt-3" onclick="window.location.href='Article/Index/@article.Id'">Read More »</button>
                    </div>
                    <div class="card-footer">
                        <i class="fa fa-user"></i>
                        <a asp-page="/User/Index" asp-route-username="@article.Author.UserName" style="color: inherit">@article.Author.UserName</a>
                        <span class="float-right">Comments <span class="badge badge-dark rounded-circle">1</span></span>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-12 col-sm-3">
        <div>
            <iframe src="https://discordapp.com/widget?id=261512941440860161&theme=dark" height="300" width="255" allowtransparency="true" frameborder="0"></iframe>
        </div>
        <div class="fb-page" data-href="https://www.facebook.com/HOI.Economic.Crisis/" data-tabs="timeline,events,messages" data-height="400" data-width="280" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
            <blockquote cite="https://www.facebook.com/HOI.Economic.Crisis/" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/HOI.Economic.Crisis/">Hearts of Iron IV: Economic Crisis</a>
            </blockquote>
        </div>
        <!-- VK Widget -->
        <div id="vk_groups" class="my-2"></div>
    </div>
</div>

@section Scripts  {
    <script>
        VK.Widgets.Group("vk_groups", {mode: 3}, 124436657);
    </script>
}
