@page "{threadId}"
@model EC_WebSite.Pages.Forums.ThreadIndexModel
@{
    ViewData["Title"] = Model.Thread.Name;
}

<head>
    <link href="~/css/forum-theme.css" rel="stylesheet" />
</head>

<div class="forum_sketch">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-lg-10">
                <h3 class="h3">Forum Thread</h3>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <ul class="breadcrumb">
                        <li><a asp-page="/Forums/Index">@Model.Thread.Board.Forum.Name</a></li>
                        <li><a asp-page="/Forums/Board/Index" asp-route-boardId="@Model.Thread.Board.Id">@Model.Thread.Board.Name</a></li>
                        <li><a asp-page="/Forums/Thread/Index" asp-route-threadId="@Model.Thread.Id">@Model.Thread.Name</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="forum_body">
        <div class="row forum_search_panel">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                @Html.TextBox("Search", Model.SearchText, "", new { placeholder = "Search", style = "color: black" })
                <button class="btn btn-default btn-sm" style="margin: 10px" asp-action="SearchForum">Search</button>  <!---->                
            </div>
        </div>
        <table id="tableforum" class="table table-bordered">
            <thead class="table_head">
                <tr>
                    <th width="150">
                        <strong>Author</strong>
                    </th>
                    <th>
                        <strong>Posts</strong>
                    </th>
                </tr>
                <tr class="forum_category">
                    <th>
                        <strong>@Model.Thread.Name</strong>
                    </th>
                    <th style="background-color: teal; text-align: center">
                        <a style="color: azure" href="#post_reply"><strong>Post Reply</strong></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model.Posts)
                {
                    <tr>
                        <td></td>
                        <td height="25" style="color: black; background-color: antiquewhite">

                            <form asp-page-handler="DeletePost" asp-route-postId="@post.Id" method="post">
                                <span style="float: right">
                                    <span style="margin-right: 10px">@post.CreatedTime.Value.ToString("MMM dd yyyy HH:mm")</span>
                                    @if (User.Identity.Name == post.Author.UserName ||
                                          User.IsInRole("SuperAdmin") ||
                                          User.IsInRole("Admin") ||
                                          User.IsInRole("Moderator")
                                      )
                                    {
                                        <a class="glyphicon glyphicon-wrench"></a>
                                        <button type="submit" class="delete_post btn-nobackground glyphicon glyphicon-minus-sign"></button>
                                    }
                                </span>
                            </form>

                        </td>
                    </tr>
                    <tr class="forum_subcategory" style="color: black">
                        <td>
                            @{
                                <a href="#"><img class="img-rounded" src="@post.Author.ProfilePhoto.GetDataBase64()" alt="Author photo" style="height: 70px; width: 70px" /></a>
                                <a href="#" style="display: block">@post.Author.UserName</a>

                                var userRoles = await Model.GetUserRolesAsync(post.Author);

                                <span>
                                    @foreach (var role in userRoles)
                                    {
                                        if (role == "SuperAdmin" || role == "Admin")
                                        {
                                            <label class="label label-primary">@role</label>
                                        }
                                        else if (role == "Moderator")
                                        {
                                            <label class="label label-danger">@role</label>
                                        }
                                        else if (role == "Developer")
                                        {
                                            <label class="label label-success">@role</label>
                                        }
                                        else
                                        {
                                            <label class="label label-info">@role</label>
                                        }
                                    }

                                    @foreach (var userSkill in post.Author.UserSkills)
                                    {
                                        <label class="label label-warning">@userSkill.Skill.Name</label>
                                    }
                                </span>
                            }
                        </td>
                        <td style="background-color: snow">
                            @Html.Raw(post.Text)
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        @{
                            var prevDisabled = !Model.Posts.HasPreviousPage ? "disabled" : "";
                            var nextDisabled = !Model.Posts.HasNextPage ? "disabled" : "";
                        }
                        <a class="btn btn-xs previous @prevDisabled" asp-page="./Index" asp-route-pageIndex="@(Model.Posts.PageIndex - 1)">Previous</a>
                        <a class="btn btn-xs next @nextDisabled" asp-page="./Index" asp-route-pageIndex="@(Model.Posts.PageIndex + 1)">Next</a>
                    </td>
                </tr>
            </tfoot>
        </table>                    
    </div>
</div>

<div id="post_reply" class="container-fluid panel" style="background-color: black; margin-top: 20px; border-radius: 10px;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12">
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-page-handler="AddPost" method="post">
                    <label class="control-label" style="color: aliceblue; font: bolder">Reply to thread</label>
                    @Html.EditorFor(m => m.PostText, additionalViewData: new { htmlAttributes = new { id = "summernote" } })
                    <input type="submit" class="btn btn-default btn-sm" style="margin-bottom: 15px" value="Post Reply" />
                </form>
            }
        </div>
    </div>
</div>
    
