@page
@model EC_WebSite.Pages.Forums.ForumsIndexModel
@{
    ViewData["Title"] = "Forums Page";
}

@section Stylesheets  {
    <head>
        <link href="~/css/forum-theme.css" rel="stylesheet" />
    </head>
}

<div class="forum">
    <div class="forum-header">
        <span class="h3">Official Forums</span>
        @if (User.IsInRole("SuperAdmin"))
        {
            <span class="float-right">
                <a asp-page="/Forums/Create" data-toggle="tooltip" data-placement="top" title="Add new forum"><i class="fas fa-plus-circle"></i></a>
            </span>
        }
    </div>

    <div class="forum-body">
        <div class="forum-search-panel">
            <input asp-for="@Model.SearchText" class="ml-1" type="search" placeholder="Search" />
            <button class="btn btn-default btn-sm" style="margin: 10px" asp-action="SearchForum">Search</button>
        </div>
        <table id="tableforum" class="table table-bordered table-responsive-sm">
            <thead class="forum-table-head">
                <tr>
                    <th>
                        <strong>Board</strong>
                    </th>
                    <th>
                        <strong>Lattest Thread</strong>
                    </th>
                    <th>
                        <strong>Topics</strong>
                    </th>
                    <th>
                        <strong>Posts</strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (User.Identity.IsAuthenticated)
                {
                    <tr class="forum-category">
                        <td colspan="4">
                            <strong>Your Favorite Threads</strong>
                        </td>
                    </tr>

                    @if (Model.FavoriteThreads.Count() == 0)
                    {
                        <tr style="color: black">
                            <td colspan="4">
                                <span style="color:dimgray; font-size: small">You have set no favorite threads. Add favorites from any forum on the site by clicking the(+) button in the FAV column.</span>
                            </td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var favoriteThread in Model.FavoriteThreads)
                        {
                            <tr style="color: black">
                                <td colspan="3">
                                    <a asp-page="/Forums/Thread/Index" asp-route-threadId="@favoriteThread.Thread.Id">@favoriteThread.Thread.Board.Name &gt; @favoriteThread.Thread.Name</a>
                                </td>
                                <td>
                                    <form asp-page-handler="RemoveFromFavoriteThreads" asp-route-favoriteThreadId="@favoriteThread.ThreadId" method="post">
                                        <label>@favoriteThread.Thread.Posts.Count</label>
                                        <span class="float-right">
                                            <button class="btn-nobackground" data-toggle="tooltip" data-placement="top" title="Remove from favorites list"><i class="fas fa-minus-circle"></i></button>
                                        </span>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                }

                @foreach (var forumHead in Model.ForumHeads)
                {
                    <tr class="forum-category">
                        <td colspan="4">
                            <div class="row">
                                <div class="col-8 col-sm-7">
                                    <strong>@forumHead.Name</strong>
                                </div>
                                <div class="col-4 col-sm-5" style="text-align:right">
                                    @if (User.HasOneOfTheseRoles(Role.Admin))
                                    {
                                        <form asp-page-handler="DeleteForumHead" asp-route-forumHeadId="@forumHead.Id" method="post">
                                            <a asp-page="/Forums/Board/Create" asp-route-forumHeadId="@forumHead.Id" data-toggle="tooltip" data-placement="top" title="Add new board"><i class="fas fa-plus-circle"></i></a>
                                            <button class="delete-item btn-nobackground text-white" data-toggle="tooltip" data-placement="top" title="Delete forum"><i class="fas fa-times"></i></button>
                                        </form>
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>

                    @foreach (var board in forumHead.Boards)
                    {
                        <tr style="color: black">
                            <td>
                                <a asp-page="/Forums/Board/Index" asp-route-boardId="@board.Id" style="color: saddlebrown">@board.Name</a>
                            </td>
                            <td>
                                @if (board.Threads != null && board.Threads.Count != 0)
                                {
                                    <a asp-page="/Forums/Thread/Index" asp-route-threadId="@board.Threads.LastOrDefault().Id">@board.Threads.Select(i => i.Name).LastOrDefault()</a>
                                }
                            </td>
                            <td>
                                <label>@board.Threads.Count()</label>
                            </td>
                            <td>
                                <form asp-page-handler="DeleteBoard" asp-route-boardId="@board.Id" method="post">
                                    <label>@board.Threads.Select(i => i.Posts.Count).Sum()</label>
                                    @if (User.HasOneOfTheseRoles(Role.Admin))
                                    {
                                        <span class="float-right">
                                            <button class="delete-item btn-nobackground" data-toggle="tooltip" data-placement="top" title="Delete board"><i class="fas fa-times"></i></button>
                                        </span>
                                    }
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

