@page
@model EC_WebSite.Pages.Forums.ForumsIndexModel
@{
    ViewData["Title"] = "Forums Page";
}

<head>
    <link href="~/css/forum-theme.css" rel="stylesheet" />
</head>


<div class="forum_sketch">
    <div class="row">
        <div class="col-8 col-sm-10 col-lg-9">
            <h3 class="h3">Official Forums</h3>
        </div>
        <div class="col-4 col-sm-2 col-lg-3 my-auto" style="text-align: right">
            @if (User.Identity.IsAuthenticated && User.IsInRole("SuperAdmin"))
            {
                <a style="color: aliceblue" asp-page="/Forums/Create"><i class="fas fa-plus-circle"></i></a>
                <a><i class="fas fa-wrench"></i></a>
            }
        </div>
    </div>

    <div class="forum_body">
        <div class="forum_search_panel">
            @Html.TextBox("Search", Model.SearchText, "", new { placeholder = "Search", style = "color: black" })
            <button class="btn btn-default btn-sm" style="margin: 10px" asp-action="SearchForum">Search</button>
        </div>
        <table id="tableforum" class="table table-bordered table-responsive-sm">
            <thead class="table_head">
                <tr>
                    <th>
                        <strong>Board</strong>
                    </th>
                    <th>
                        <strong>Lattest Thread</strong>
                    </th>
                    <th>
                        <strong>Topics</strong>
                    </th>
                    <th>
                        <strong>Posts</strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (User.Identity.IsAuthenticated)
                {
                    <tr class="forum_category">
                        <td colspan="4">
                            <strong>Your Favorite Threads</strong>
                        </td>
                    </tr>

                    @if (Model.FavoriteThreads.Count() == 0)
                    {
                        <tr class="forum_subcategory" style="color: black">
                            <td colspan="4">
                                <span style="color:dimgray; font-size: small">You have set no favorite threads. Add favorites from any forum on the site by clicking the(+) button in the FAV column.</span>
                            </td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var favoriteThread in Model.FavoriteThreads)
                        {
                            <tr class="forum_subcategory" style="color: black">
                                <td colspan="3">
                                    <a asp-page="/Forums/Thread/Index" asp-route-threadId="@favoriteThread.Thread.Id">@favoriteThread.Thread.Board.Name >> @favoriteThread.Thread.Name</a>
                                </td>
                                <td>
                                    <form asp-page-handler="RemoveFromFavoriteThreads" asp-route-favoriteThreadId="@favoriteThread.ThreadId" method="post">                          
                                        <label>@favoriteThread.Thread.Posts.Count</label>                                       
                                        <span class="float-right">
                                            <button class="btn-nobackground"><i class="fas fa-minus-circle"></i></button>
                                        </span>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                }

                @foreach (var forumHead in Model.ForumHeads)
                {
                    <tr class="forum_category">
                        <td colspan="4">
                            <div class="row">
                                <div class="col-8 col-sm-7">
                                    <strong>@forumHead.Name</strong>
                                </div>
                                <div class="col-4 col-sm-5" style="text-align:right">
                                    @if (User.Identity.IsAuthenticated && (User.IsInRole("SuperAdmin") || User.IsInRole("Admin")))
                                    {
                                        <form asp-page-handler="DeleteForumHead" asp-route-forumHeadId="@forumHead.Id"  method="post">
                                            <a asp-page="/Forums/Board/Create" asp-route-forumHeadId="@forumHead.Id" class="fas fa-plus-circle" style="color: black"></a>                                                                                    
                                            <button class="delete_forumhead btn-nobackground"><i class="fas fa-minus-circle"></i></button>
                                        </form>
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>

                    @foreach (var board in forumHead.Boards)
                    {
                        <tr class="forum_subcategory" style="color: black">
                            <td>
                                <a asp-page="/Forums/Board/Index" asp-route-boardId="@board.Id" style="color: saddlebrown">@board.Name</a>
                            </td>
                            <td>
                                @if (board.Threads != null && board.Threads.Count != 0)
                                {
                                    <a asp-page="/Forums/Thread/Index" asp-route-threadId="@board.Threads.LastOrDefault().Id">@board.Threads.Select(i => i.Name).LastOrDefault()</a>
                                }
                            </td>
                            <td>
                                <label>@board.Threads.Count()</label>
                            </td>
                            <td>                                                                                              
                                <form asp-page-handler="DeleteBoard" asp-route-boardId="@board.Id" method="post">
                                    <label>@board.Threads.Select(i => i.Posts.Count).Sum()</label>
                                    @if (User.Identity.IsAuthenticated && (User.IsInRole("SuperAdmin") || User.IsInRole("Admin")))
                                    {
                                        <span class="float-right">
                                            <button class="btn-nobackground delete_board"><i class="fas fa-minus-circle"></i></button>
                                        </span>
                                    }
                                </form>                               
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

