@page "{slug}"
@model EC_Website.Pages.Wiki.Category.CategoriesIndexModel

@{
    ViewData["Title"] = $"Category:{Model.Category.Name} - Economic Crisis Wiki";
    Layout = "_WikiLayout";
}

<div class="tabs clearfix">
    <div class="tabsLeft">
        <ul>
            <li><a class="active" asp-page="./Index" asp-route-slug="@Model.Category.Slug">Category</a></li>
        </ul>
    </div>
    <div id="simpleSearch">
        <input type="text" name="searchInput" id="searchInput" placeholder="Search Economic Crisis Wiki" size="12" />
        <div id="submitSearch"></div>
    </div>

    <div class="tabsRight">
        <ul>
            <li><a class="active" asp-page="./Index" asp-route-slug="@Model.Category.Slug">Read</a></li>

            @if (User.HasMinimumRole(Role.Editor))
            {
                <li><a asp-page="./List" asp-route-slug="@Model.Category.Slug">List</a></li>
                <li><a asp-page="./Create">Create</a></li>
                <li><a asp-page="./Edit" asp-route-id="@Model.Category.Id">Edit</a></li>
                <li><a asp-page="./Delete" asp-route-id="@Model.Category.Id">Delete</a></li>
            }
        </ul>
    </div>
</div>

<div class="article">
    <h1>Category:@Model.Category.Name</h1>
    <h2>Pages in category "@Model.Category.Name"</h2>
    <p>The following @Model.Category.ArticleCategories.Count pages are in this category</p>
    
    @foreach (var articleCategory in Model.Category.ArticleCategories)
    {
        var titleFirstLetter = articleCategory.Article.Title.First();
        <h3>@titleFirstLetter</h3>
        <ul>
            <li><a asp-page="../Index" asp-route-slug="@articleCategory.Article.Slug">@articleCategory.Article.Title</a></li>
        </ul>
    }
</div>    
