@page
@model EC_Website.Web.Pages.Forums.Board.DeleteModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Delete Board"];
}

<h1>@ViewData["Title"]</h1>

<h3>@Localizer["Are you sure you want to delete this"]?</h3>
<div>
    <h4>@Localizer["Board"] "@Model.Board.Title"</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Board.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Board.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Board.Timestamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Board.Timestamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Board.Slug)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Board.Slug)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Threads"]
        </dt>
        <dd class="col-sm-10">
            @Model.Board.Threads.Count
        </dd>
        <dt class="col-sm-2">
            @Localizer["Posts"]
        </dt>
        <dd class="col-sm-10">
            @Model.Board.Threads.SelectMany(i => i.Posts).Count()
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Board.Id" />
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" /> |
        <a asp-page="./Index" asp-route-slug="@Model.Board.Slug">@Localizer["Back to List"]</a>
    </form>
</div>
