@page
@model EC_Website.Web.Pages.Forums.Search.PostModel
@inject IViewLocalizer Localizer
@inject RealTimeDataContext RealTimeContext

@{
    ViewData["Title"] = Localizer["Search Posts"];
}

@section Head {
    <link href="~/css/forum-theme.css" rel="stylesheet" />
}

<div class="forum">
    <div class="forum-header">
        <h1>@Localizer["Search Posts"]</h1>
    </div>

    <div class="forum-body">
        <div class="forum-search-panel">
            <vc:search-box />
        </div>
        <div class="table-responsive">
            <table id="tableforum" class="table table-bordered">
                <thead class="forum-table-head">
                    <tr>
                        <th width="110">
                            <strong>@Localizer["Author"]</strong>
                        </th>
                        <th>
                            <strong>@Localizer["Posts"]</strong>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Posts.Count == 0)
                    {
                        <tr>
                            <th colspan="2">
                                <p>@Localizer["No records were found containing"] "@Model.SearchViewModel.SearchString"</p>
                            </th>
                        </tr>
                    }
                    else
                    {
                        @foreach (var post in Model.Posts)
                        {
                            <tr>
                                <td></td>
                                <td style="background-color: antiquewhite">
                                    <a asp-page="/Forums/Thread/Index" asp-route-slug="@post.Thread.Slug" style="text-decoration: underline">@post.Thread.Title</a>
                                    &nbsp;&minus;&nbsp;
                                    <a asp-page="/Forums/Board/Index" asp-route-slug="@post.Thread.Board.Slug" style="text-decoration: underline">@post.Thread.Board.Title</a>
                                    <span class="float-right mr-1">
                                        @post.Timestamp.ToString("MMM dd yyyy HH:mm")
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @{
                                        <div class="img-container" style="cursor: pointer">
                                            @{
                                                var userOnline = RealTimeContext.OnlineUsers.Contains(post.Author.UserName);
                                                var statusColor = userOnline ? "bg-success" : "bg-secondary";
                                            }
                                            <div class="status-icon-forum @statusColor"></div>
                                            <img class="rounded" src="@post.Author.ProfilePhotoPath" alt="@post.Author.UserName photo" style="height: 70px; width: 70px" onclick="window.location = '/User/@post.Author.UserName'" />
                                        </div>
                                        <a asp-page="/User/Index" asp-route-username="@post.Author.UserName">@post.Author.UserName</a><br />

                                        <vc:user-roles user="@post.Author" />
                                        <vc:user-badges user="@post.Author" />
                                    }
                                </td>
                                <td id="@post.Id" class="forum-post">
                                    @Html.Raw(post.Content)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <div id="pagination" class="d-flex">
                                <pagination class="mx-auto" page-index="@Model.Posts.PageIndex" total-pages="@Model.Posts.TotalPages"
                                            page-path="/Forums/Search/Post" />
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>