@page "{username}"
@model EC_WebSite.Pages.User.UserViewIndexModel
@{
    ViewData["Title"] = User.Identity.Name;
}

<div class="card">
    <img class="card-img-top img-fluid" src="~/img/default_user_header_photo.jpg" alt="Header photo" />
    <div class="card-img-overlay d-flex mt-5 pb-0">
        <img class="img-thumbnail" style="width: 225px; height: 225px" src="@Model.UserContext.ProfilePhoto.GetDataBase64()" alt="User photo" />        
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <h3 class="card-title"><b>@Model.UserContext.FirstName @Model.UserContext.LastName</b></h3>
                <h5 class="card-text">@@@Model.UserContext.UserName</h5>
                <p>Member since @Model.UserContext.RegistrationDate.Value.ToShortDateString()</p>

                @{
                    var userRoles = await Model.GetUserRolesAsync(Model.UserContext);

                    <span>
                        @foreach (var role in userRoles)
                        {
                            if (role == "SuperAdmin" || role == "Admin")
                            {
                                <label class="badge badge-dark m-0">@role</label>
                            }
                            else if (role == "Moderator")
                            {
                                <label class="badge badge-danger m-0">@role</label>
                            }
                            else if (role == "Developer")
                            {
                                <label class="badge badge-success m-0">@role</label>
                            }
                            else
                            {
                                <label class="badge badge-info m-0">@role</label>
                            }
                        }

                        @foreach (var userSkill in Model.UserContext.UserSkills)
                        {
                            <label class="badge badge-secondary m-0">@userSkill.Skill.Name</label>
                        }
                    </span>
                }

                @if (User.Identity.Name == Model.UserContext.UserName)
                {
                    <a class="btn btn-primary my-3" asp-area="Identity" asp-page="/Account/Manage/Index">Edit Profile</a>
                }
            </div>
            <div class="col-9">
                <p>@Model.UserContext.Status</p>
                <hr />
                <p>@Model.UserContext.Bio</p>
            </div>
        </div>      
    </div>
</div>



