@page "{boardId}"
@model EC_WebSite.Pages.Forums.BoardIndexModel
@{
    ViewData["Title"] = "Board";
}

<head>
    <link href="~/css/forum-theme.css" rel="stylesheet" />
</head>

<div class="forum_sketch">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 col-sm-10 col-lg-9">
                <h3 class="h3">Forum Board</h3>
            </div>
            <div class="col-4 col-sm-2 col-lg-3" style="text-align:right; margin-top: 25px">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-page="/Forums/Thread/Create" asp-route-boardId="@Model.Board.Id"><i class="fas fa-plus-square"></i></a>
                    <a><i class="fas fa-wrench"></i></a>
                }
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-lg-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-page="/Forums/Index">@Model.Board.Forum.Name</a></li>
                        <li class="breadcrumb-item"><a asp-page="/Forums/Board/Index" asp-route-boardId="@Model.Board.Id">@Model.Board.Name</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="forum_body">
        <div class="row forum_search_panel">
            <div class="col-12 col-sm-12 col-lg-12">
                @Html.TextBox("Search", Model.SearchText, "", new { placeholder = "Search", style = "color: black" })
                <button class="btn btn-default btn-sm" style="margin: 10px" asp-action="SearchForum">Search</button> <!---->
            </div>
        </div>
        <table id="tableforum" class="table table-bordered">
            <thead class="table_head">
                <tr>
                    <th>
                        <strong>Thread</strong>
                    </th>
                    <th>
                        <strong>Author</strong>
                    </th>
                    <th>
                        <strong>Posts</strong>
                    </th>
                    <th>
                        <strong>Last Post</strong>
                    </th>
                    <th style="text-align: center">
                        <strong>+ Fav</strong>
                    </th>
                </tr>
                <tr class="forum_category">
                    <th colspan="3">
                        <strong>@Model.Board.Name</strong>
                    </th>
                    <th colspan="2" style="background-color: teal; text-align:center">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <span>
                                <a style="color: azure" asp-page="/Forums/Thread/Create" asp-route-boardId="@Model.Board.Id"><strong>New thread</strong></a>
                            </span>
                        }
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var thread in Model.Board.Threads)
                {
                    <tr class="forum_subcategory" style="color: black">
                        <td>
                            <span style="float: left">
                                <a style="color: saddlebrown" asp-page="/Forums/Thread/Index" asp-route-threadId="@thread.Id">@thread.Name</a>
                            </span>
                            @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("Moderator"))
                            {
                                <span style="float: right">
                                    <a href="#" class="glyphicon glyphicon-ok"></a>
                                    <a href="#" class="glyphicon glyphicon-remove"></a>
                                </span>
                            }
                        </td>
                        <td>
                            <a href="#">@thread.Author.UserName</a>
                        </td>
                        <td>
                            <label>@thread.Posts.Count()</label>
                        </td>
                        <td>
                            <a href="#">@thread.Posts.Select(i => i.Author.UserName).LastOrDefault()</a>
                            <p>@thread.Posts.Select(i => i.CreatedTime.Value.ToShortDateString()).LastOrDefault()</p>
                        </td>
                        <td style="text-align: center">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <form asp-page-handler="AddFavoriteThread" asp-route-threadId="@thread.Id" method="post">                                                                    
                                    <input type="submit" class="rounded-circle" name="addFavorite" value="+" />
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
