@model EC_Website.Core.Entities.BlogModel.Comment
@inject IAuthorizationService Authorization
@inject IViewLocalizer Localizer
@inject RealTimeDataContext RealTimeContext

<div id="@Model.Id" class="d-flex my-2">
    <div class="img-container">
        @{
            var userOnline = RealTimeContext.OnlineUsers.Contains(Model.Author.UserName);
            var statusColor = userOnline ? "bg-success" : "bg-secondary";
        }
        <div class="status-icon-article @statusColor"></div>
        <img class="rounded-circle mr-2" src="@Model.Author.ProfilePhotoPath" alt="@Model.Author.UserName" style="width: 50px; height: 50px" onclick="window.location = '/User/@Model.Author.UserName'" />
    </div>
    <div class="card shadow-sm flex-grow-1">
        <div class="card-body p-2">
            <div class="mb-4">
                <a id="comment_author" class="text-primary mr-3" asp-page="/User/Index" asp-route-username="@Model.Author.UserName" style="font-size: smaller">
                    @Model.Author.UserName
                </a>
                <span class="text-muted font-weight-light" style="font-size: small">
                    @Model.Timestamp
                </span>
                <div class="float-right">
                    @if (Model.Replies.Any())
                    {
                        var targetElement = $"#{Model.Id}.card-footer";
                        <button class="btn btn-sm" onclick="collapseElement('@targetElement')"><i class="fa fa-angle-down fa-lg"></i></button>
                    }
                    
                    @if ((await Authorization.AuthorizeAsync(User, Policies.CanBanUsers)).Succeeded)
                    {
                        <a asp-page="/Admin/Users/Restrict" asp-route-id="@Model.Author.Id" asp-route-returnUrl="/Blog/Index/@Model.Blog.Slug" 
                           class="text-dark" data-toggle="tooltip" data-placement="top" title="@Localizer["Edit user ban"]">
                            <i class="fas fa-ban"></i>
                        </a>
                    }

                    @if (User.Identity.Name == Model.Author.UserName || 
                         (await Authorization.AuthorizeAsync(User, Policies.CanManageBlogs)).Succeeded)
                    {
                        <form asp-page-handler="DeleteComment" asp-route-commentId="@Model.Id" asp-route-pageIndex="@ViewData["PageIndex"]" class="float-right" method="post">
                            <button class="btn btn-sm delete-item" data-toggle="tooltip" data-placement="top" title="@Localizer["Delete comment"]"><i class="fa fa-times"></i></button>
                        </form>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        <button id="@Model.Id" class="btn btn-sm float-right" data-toggle="tooltip" data-placement="top" title="@Localizer["Reply to this comment"]" onclick="showReplyCommentBox('@Model.Id')"><i class="fa fa-reply"></i></button>
                    }
                </div>
            </div>
            <div>
                @Html.Raw(Model.Content)
            </div>
        </div>
        <div id="@Model.Id" class="card-footer collapse p-0 p-sm-2">
            @foreach (var reply in Model.Replies)
            {
                <partial name="_CommentsPartial" model="reply" />
            }

            <div id="@Model.Id" class="reply-commentbox ml-1 d-none">
                <form asp-page-handler="ReplyToComment" asp-route-commentId="@Model.Id" asp-route-pageIndex="@ViewData["PageIndex"]" class="w-100" method="post">
                    <div class="bg-white border border-dark p-2">
                        <span data-valmsg-for="CommentContent" data-valmsg-replace="true" class="text-danger"></span>
                        <textarea id="CommentText" name="CommentContent" class="comment-editor emojis" rows="4" placeholder="@Localizer["Type message..."]" required></textarea>
                    </div>
                    <div class="mt-2">
                        <input type="submit" class="btn btn-sm btn-info shadow-sm" value="@Localizer["Reply"]" onclick="hideReplyCommentBox('@Model.Id')" />
                        <input type="button" class="btn btn-sm border shadow-sm" value="@Localizer["Cancel"]" onclick="hideReplyCommentBox('@Model.Id')" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
