@page
@model EC_Website.Web.Pages.Admin.UserBadges.IndexModel

@{
    ViewData["Title"] = "User Badges";
}

<h1>User Badges</h1>

<p>
    <a class="btn btn-sm btn-primary" asp-page="Create"><i class="fa fa-plus text-white"></i> Create New</a>
    <span class="float-right mx-2">Total records: &nbsp; @Model.Badges.Count</span>
</p>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="bg-info">
        <tr class="text-white">
            <th>
                @Html.DisplayNameFor(model => model.Badges[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Badges[0].Description)
            </th>
            <th>
                Users
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Badges[0].Timestamp)
            </th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody class="bg-white">
        @foreach (var item in Model.Badges) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.UserBadges.Count(i => i.BadgeId == item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    <a class="btn btn-sm btn-info" asp-page="./Edit" asp-route-id="@item.Id"><i class="fa fa-pencil"></i> &nbsp;Edit</a>
                    <a class="btn btn-sm btn-info" asp-page="./Details" asp-route-id="@item.Id"><i class="fa fa-info"></i> &nbsp;Details</a>
                    <a class="btn btn-sm btn-danger" asp-page="./Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i> &nbsp;Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
