@page
@model EC_Website.Web.Pages.IndexModel
@inject IViewLocalizer Localizer
@inject IAuthorizationService Authorization

@{
    ViewData["Title"] = "Hearts of Iron IV: Economic Crisis";
}

@section Head {
    <meta name="description" content="Hearts of Iron IV: Economic Crisis will allow you to manage anyone country in our time, beginning in 2013, and lead it into the future." />
    <meta name="keywords" content="hoi mod, global strategy, rts, game, hoi4, ec, economic crisis, economic crisis 2013, hoi 4, hoi4, hoi 4, hoi IV, hoi ec, hoi4 ec, mod, hearts of iron 4, hearts of iron IV, economic crisis forum" />
    <meta name="image" content="https://ec-hoi-mod.site/img/ec_logo_large.jpg" />
    <meta property="og:title" content="Hearts of Iron IV: Economic Crisis" />
    <meta property="og:description" content="Hearts of Iron IV: Economic Crisis will allow you to manage anyone country in our time, beginning in 2013, and lead it into the future." />
    <meta property="og:site_name" content="Hearts of Iron IV: Economic Crisis" />
    <meta property="og:image" content="https://ec-hoi-mod.site/img/ec_logo_large.jpg" />
    <meta property="og:url" content="https://ec-hoi-mod.site" />
    <meta name="twitter:title" content="Hearts of Iron IV: Economic Crisis" />
    <meta name="twitter:description" content="Hearts of Iron IV: Economic Crisis will allow you to manage anyone country in our time, beginning in 2013, and lead it into the future." />
    <meta name="twitter:site" content="Hearts of Iron IV: Economic Crisis" />
    <meta name="twitter:image" content="https://ec-hoi-mod.site/img/ec_logo_large.jpg" />
}

@section MainContent {
    <div>
        <hr />
        <div class="d-flex justify-content-center">
            <h2>@Localizer["Development News"]</h2>
            @if ((await Authorization.AuthorizeAsync(User, Policies.CanManageBlogs)).Succeeded)
            {
                <span class="mx-2"><a asp-page="/Blog/Create" class="btn-sm btn-info">@Localizer["Create Article"]</a></span>
            }
        </div>
        <hr />
    </div>
    <div>
        @foreach (var blog in Model.Blogs)
        {
            <div class="card shadow-sm my-3">
                <div class="card-header">
                    <a class="text-dark font-weight-bold" asp-page="/Blog/Index" asp-route-slug="@blog.Slug">@blog.Title</a>
                    <div class="float-right">
                        <b>@blog.Timestamp.ToString("MMM dd yyyy HH:mm")</b>

                        @if ((await Authorization.AuthorizeAsync(User, Policies.CanManageBlogs)).Succeeded)
                        {
                            <a class="mx-2" asp-page="/Blog/Edit" asp-route-id="@blog.Id" data-toggle="tooltip" data-placement="top" title="@Localizer["Edit this article"]" style="color: black"><i class="fa fa-wrench"></i></a>
                            <a class="mx-2" asp-page="/Blog/Delete" asp-route-Id="@blog.Id" data-toggle="tooltip" data-placement="top" title="@Localizer["Delete this article"]" style="color: black"><i class="fa fa-times"></i></a>
                        }
                    </div>
                </div>
                <div class="card-body">
                    <p>@blog.Summary</p>
                    <img class="w-100" src="@blog.CoverPhotoPath" alt="@blog.Title cover photo" />
                    <a role="button" class="btn btn-outline-dark mt-3" asp-page="/Blog/Index" asp-route-slug="@blog.Slug">@Localizer["Read More"] »</a>
                </div>
                <div class="card-footer">
                    <i class="fa fa-user"></i>
                    <a asp-page="/User/Index" asp-route-username="@blog.Author.UserName" style="color: inherit">@blog.Author.UserName</a>
                    <div class="float-right">
                        @{
                            var likesCount = blog.LikedUsers.Count;


                            if (!User.Identity.IsAuthenticated)
                            {
                                <a class="mx-2 text-dark text-decoration-none" asp-area="Identity" asp-page="/Account/Login" data-toggle="tooltip" data-placement="top" title="@Localizer["Sign in to like this article"]">
                                    <i class="far fa-heart">&nbsp;@likesCount</i>
                                </a>
                            }
                            else
                            {
                                <button class="btn btn-sm" data-toggle="tooltip" data-placement="top" title="@Localizer["Like this article"]" onclick="likeArticle('@blog.Id')">
                                    @if (blog.LikedUsers.Any(i => i.User.UserName == User.Identity.Name))
                                    {
                                        <i id="@blog.Id-likes-count" class="fas fa-heart">&nbsp;@likesCount</i>
                                    }
                                    else
                                    {
                                        <i id="@blog.Id-likes-count" class="far fa-heart">&nbsp;@likesCount</i>
                                    }
                                </button>
                            }
                        }

                        <span class="mx-2"><i class="fa fa-eye"></i>&nbsp;@blog.ViewCount</span>
                        <a class="text-dark" asp-page="/Blog/Index" asp-route-slug="@blog.Slug" asp-fragment="comments">
                            @Localizer["Comments"] <span class="badge badge-dark rounded-circle">@blog.Comments.Count</span>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div id="pagination" class="d-flex">
        <pagination class="mx-auto" page-index="@Model.Blogs.PageIndex" total-pages="@Model.Blogs.TotalPages" page-path="/" />
    </div>
}

@*@section LeftSide {
        <div id="vk_groups" class="iframe-container my-2"></div>
    }

    @section RightSide {
        <div class="iframe-container my-2">
            <iframe src="https://discordapp.com/widget?id=261512941440860161&theme=dark" width="150" height="200" allowtransparency="true" frameborder="0"></iframe>
        </div>
    }

    @section Scripts {
        <script src="https://vk.com/js/api/openapi.js?160"></script>
        <script>
            VK.Widgets.Group("vk_groups", { mode: 3 }, 124436657);
        </script>
    }*@