@page "{slug}"
@model EC_Website.Web.Pages.Wiki.WikiArticleIndexModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Model.WikiPage.Title;
}

@section Head {
    <meta name="author" content="@Model.WikiPage.Author" />
    @*<meta name="description" content="@Model.Entry.Content.Substring(0, 50)" />*@
    <meta name="keywords" content="@Model.WikiPage.Title" />
    <meta property="og:title" content="@Model.WikiPage.Title" />
    @*<meta property="og:description" content="@Model.Entry.Content.Substring(0, 50)" />*@
    <meta property="og:site_name" content="Wiki Economic Crisis" />
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="@Model.WikiPage.Timestamp" />
    <meta property="article:author" content="@Model.WikiPage.Author" />
    <meta property="article:tags" content="@Model.WikiPage.Title" />
    <meta name="twitter:title" content="@Model.WikiPage.Title" />
    @*<meta name="twitter:description" content="@Model.Entry.Content.Substring(0, 50)" />*@
    <meta name="twitter:creator" content="@Model.WikiPage.Author" />
    @*<meta name="twitter:card" content="@Model.Entry.Content.Substring(0, 50)" />*@
    <meta name="twitter:site" content="Wiki Economic Crisis" />
}

<div class="row">
    <div class="col-12 col-md-5 bg-white">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a class="nav-link active" href="#page">@Localizer["Page"]</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="./Create">@Localizer["Create"]</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="./Edit" asp-route-id="@Model.WikiPage.Id">@Localizer["Edit"]</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="./Delete" asp-route-id="@Model.WikiPage.Id">@Localizer["Delete"]</a>
            </li>
        </ul>
    </div>
    <div class="col-12 col-md-7 bg-white">
        <form id="searchbox" class="form-inline p-1" method="get" asp-page="./Search" asp-route-searchString="sample">
            <div class="input-group w-100">
                <input type="search" class="form-control form-control-sm" placeholder="@Localizer["Search Economic Crisis Wiki"]" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-sm btn-secondary"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="tab-content bg-white">
            <div id="page" class="tab-pane container active pb-2">
                <h1>@Model.WikiPage.Title</h1>
                @Html.Raw(Model.WikiPage.Content)

                <ul class="list-group list-group-horizontal border-info">
                    <li class="list-group-item mx-1 p-0 border-0">@Localizer["Categories"]:</li>
                    @foreach (var wikiCategory in Model.WikiPage.WikiPageCategories)
                    {
                        <li class="list-group-item mx-1 p-0 border-0">
                            <a asp-page="/Wiki/Category/Index" asp-route-slug="@wikiCategory.Category.Slug">@wikiCategory.Category.Name</a> |
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
