@page "{slug}"

@model EC_Website.Web.Pages.Wiki.WikiArticleIndexModel

@{
    Layout = "_WikiLayout";
    ViewData["Title"] = Model.WikiPage.Title;
}

@section Head {
    <meta name="author" content="@Model.WikiPage.Author" />
    @*<meta name="description" content="@Model.Entry.Content.Substring(0, 50)" />*@
    <meta name="keywords" content="@Model.WikiPage.Title" />
    <meta property="og:title" content="@Model.WikiPage.Title" />
    @*<meta property="og:description" content="@Model.Entry.Content.Substring(0, 50)" />*@
    <meta property="og:site_name" content="Wiki Economic Crisis" />
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="@Model.WikiPage.Timestamp" />
    <meta property="article:author" content="@Model.WikiPage.Author" />
    <meta property="article:tags" content="@Model.WikiPage.Title" />
    <meta name="twitter:title" content="@Model.WikiPage.Title" />
    @*<meta name="twitter:description" content="@Model.Entry.Content.Substring(0, 50)" />*@
    <meta name="twitter:creator" content="@Model.WikiPage.Author" />
    @*<meta name="twitter:card" content="@Model.Entry.Content.Substring(0, 50)" />*@
    <meta name="twitter:site" content="Wiki Economic Crisis" />
}

<div class="tabs clearfix">
    <div class="tabsLeft">
        <ul>
            @if (Model.IsMainPage)
            {
                <li><a class="active" asp-page="./Index" asp-route-slug="@Model.WikiPage.Slug">Main Page</a></li>
            }
            else
            {
                <li><a class="active" asp-page="./Index" asp-route-slug="@Model.WikiPage.Slug">Page</a></li>
            }
        </ul>
    </div>
    <div id="simpleSearch">
        <input type="text" name="searchInput" id="searchInput" placeholder="Search Economic Crisis Wiki" size="12" />
        <div id="submitSearch"></div>
    </div>

    <div class="tabsRight">
        <ul>
            <li><a class="active" asp-page="/Wiki/Index" asp-route-slug="@Model.WikiPage.Slug">Read</a></li>
            @if (User.HasMinimumRole(Role.Editor))
            {
                <li><a asp-page="./Create">Create</a></li>
                <li><a asp-page="./Edit" asp-route-id="@Model.WikiPage.Id">Edit</a></li>
                <li><a asp-page="./Delete" asp-route-id="@Model.WikiPage.Id">Delete</a></li>
            }
        </ul>
    </div>
</div>
<div class="article">
    <h1>@Model.WikiPage.Title</h1>
    @*<p class="siteSub">From Wikipedia, the free encyclopedia</p>
    <p class="roleNote">This article is about the writing implement. For other uses, see Pencil (disambiguation).</p>*@

    @Html.Raw(Model.WikiPage.Content)
    @*<div class="articleRight">
            <div class="articleRightInner">
                <img src="img/pencil.jpg" alt="pencil" />
            </div>
            This is a blue <a href="">pencil</a>
        </div>*@
    @*<div class="contentsPanel">
            <div class="contentsHeader">Contents</div>
            <ul>
                <li>
                    <span>1</span><a href="#">History</a>
                    <ul>
                        <li><span>1.1</span><a href="#">Camel's hair pencil</a> </li>
                        <li><span>1.2</span><a href="#">Discovery of graphite deposit</a> </li>
                        <li><span>1.3</span><a href="#">Wood holders added </a></li>
                        <li><span>1.4</span><a href="#">The pencil in America </a></li>
                        <li><span>1.5</span><a href="#">Eraser attached </a></li>
                        <li><span>1.6</span><a href="#">Marking material </a></li>
                        <li><span>1.7</span><a href="#">Pencil extenders </a></li>
                    </ul>
                </li>
                <li><span>2</span><a href="#">Health</a></li>
                <li><span>3</span><a href="#">Manufacture</a></li>
                <li><span>4</span><a href="#">Grading and classification</a></li>
            </ul>
        </div>*@
    @*<div class="lavenderBox">
            <div class="header">Panel title</div>
            <div class="subtitle linklist"><a href="#">Lorem</a> <a href="#">Ipsum</a> <a href="#">Dolorestitas</a> </div>
            <div class="linklist">
                <a href="#">Percipit </a> <a href="#">Mnesarchum </a> <a href="#">Molestie </a> <a href="#">Phaedrum </a> <a href="#">Luptatum constituam </a> <a href="#">Habeo adipisci </a> <a href="#">Inani zril  </a> <a href="#">Forensibus sea </a> <a href="#">Habeo adipisci </a> <a href="#">Minimum corrumpit </a> <a href="#">Regione suscipit </a> <a href="#">Has et partem </a><a href="#">Percipit </a> <a href="#">Mnesarchum </a> <a href="#">Molestie </a> <a href="#">Phaedrum </a> <a href="#">Luptatum constituam </a> <a href="#">Habeo adipisci </a> <a href="#">Inani zril  </a> <a href="#">Vel nisl albucius </a> <a href="#">Habeo adipisci </a> <a href="#">Minimum corrumpit </a> <a href="#">Regione suscipit </a> <a href="#">Percipit maiestatis </a> <a href="#">Regione suscipit </a> <a href="#">Percipit maiestatis </a>
            </div>

            <div class="subtitle">Subtitle</div>
        </div>*@

    <div class="categories">
        @{
            var articleCategories = Model.WikiPage.WikiPageCategories.Where(i => i.WikiPage.Id == Model.WikiPage.Id);
            var categories = articleCategories.ToArray();

            if (!categories.Any())
            {
                <i>No categories found</i>
            }
            else
            {
                foreach (var articleCategory in categories)
                {
                    <a asp-page="/Wiki/Category/Index" asp-route-slug="@articleCategory.Category.Slug">@articleCategory.Category.Name</a>
                }
            }           
        }
    </div>
</div>