@page
@model EC_Website.Web.Pages.Admin.UserRoles.DetailsModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["User Role Details"];
}

<h1>@Localizer["Details"]</h1>

<div>
    <h4>@Localizer["User Role"] "@Model.UserRole.Name"</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserRole.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserRole.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserRole.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserRole.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserRole.Timestamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserRole.Timestamp)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.UserRole.Id">@Localizer["Edit"]</a> |
    <a asp-page="./Index">@Localizer["Back to List"]</a>
</div>
