@page
@model EC_Website.Web.Pages.Admin.UserRoles.EditModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Edit User Role"];
}

<h1>@Localizer["Edit"]</h1>

<h4>@Localizer["User Role"] "@Model.UserRole.Name"</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserRole.Id" />
            <div class="form-group">
                <label asp-for="UserRole.Name" class="control-label"></label>
                <input asp-for="UserRole.Name" class="form-control" disabled="disabled" />
                <span asp-validation-for="UserRole.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRole.Timestamp" class="control-label"></label>
                <input asp-for="UserRole.Timestamp" class="form-control" disabled="disabled" />
                <span asp-validation-for="UserRole.Timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRole.Description" class="control-label"></label>
                <textarea asp-for="UserRole.Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="UserRole.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">@Localizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
