<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous" />    
    </environment>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    <script src="https://kit.fontawesome.com/6627613fa4.js"></script>

    @RenderSection("Stylesheets", required: false)
</head>

<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark shadow-sm mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Home/Index">
                    <img class="rounded" src="~/img/ec_logo.jpg" alt="Hearts of Iron IV: Economic Crisis" height="32" width="32" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Home/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Home/About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Forums/Index">Forums</a>
                        </li>
                        @if (User.HasOneOfTheseRoles(Role.Admin))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Admin/Index">Admin</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <partial name="_CookieConsentPartial" />
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="footer bg-dark text-white pb-3 mt-3">
        <div class="container">
            <span class="text-muted">&copy; 2019 - EC Dev Team</span>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" asp-page="/Home/Contact">Contact</a></li>
                <li class="nav-item">
                    <a href="https://steamcommunity.com/groups/ec_hoi_mod"><img class="social-icon" src="~/img/social_icons/steam.png"></a>
                    <a href="https://www.youtube.com/c/HeartsofIronIVEconomicCrisis2013"><img class="social-icon" src="~/img/social_icons/youtube_25.png"></a>
                    <a href="https://www.moddb.com/mods/hearts-of-iron-iv-economic-crisis"><img class="social-icon" src="~/img/social_icons/moddb-black.png"></a>
                    <span class="text-muted float-right" style="font-size: 75%">Online users: @SingletonContext.Instance.OnlineUsersCount</span>
                </li>
            </ul>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous">
        </script>       
    </environment>

    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/site.js"></script>
    
    @RenderSection("Scripts", required: false)

    <ejs-scripts></ejs-scripts>
</body>
</html>
