@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ApplicationDbContext db

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @RenderSection("SEO", required: false)
    <title>@ViewData["title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous" />
    </environment>

    <link rel="stylesheet" href="~/css/wiki-theme.css" />
    @*<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    <script src="https://kit.fontawesome.com/6627613fa4.js"></script>*@
</head>

<body>
    <main class="wrapAll clearfix">
        <div class="sidebar">
            <div class="logo">
                <a asp-page="/Home/Index"><img src="~/img/ec_logo_wiki.png" alt="logo"></a>
            </div>
            <div class="navigation">
                <ul>
                    <li><a asp-page="/Wiki/Index" asp-route-slug="Main_Page">Main page</a></li>
                    @*<li><a href="#">Contents</a></li>*@
                    @*<li><a href="#">Featured content</a></li>*@
                </ul>
                <h3>Interaction</h3>
                <ul>
                    <li><a asp-page="/Home/Contact">Help</a></li>
                    <li><a asp-page="/Home/About">About</a></li>
                    <li><a asp-page="/Home/Index">Portal</a></li>
                </ul>
            </div>
        </div>

        <div class="mainsection">
            <partial name="_CookieConsentPartial" />
            <div class="headerLinks">               
                @*<a href="#">Talk</a>
                <a href="#">Contributions</a>*@
                
                @if (SignInManager.IsSignedIn(User))
                {
                    <a id="username" asp-page="/User/Index" asp-route-username="@User.Identity.Name" title="Manage">
                        @{
                            var user = db.Users.Where(i => i.UserName == User.Identity.Name).FirstOrDefault();
                            <img src="@user.ProfilePhotoUrl" class="rounded-circle" style="width: 20px; height: 20px" alt="Profile Photo" />
                        }
                        @User.Identity.Name
                    </a>
                    <a class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Home/Index">Logout</a>
                 }
                 else
                 {
                    <span class="user">Not logged in</span>
                    <a asp-area="Identity" asp-page="/Account/Register">Create account</a>
                    <a asp-area="Identity" asp-page="/Account/Login">Log in</a>
                 }
            </div>

            @RenderBody()
        </div>
    </main>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/popper/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous">
        </script>
    </environment>
</body>
</html>